<h1>Bookers</h1>
<p><%= @list.title %></p>

<h4>リーダブルコード</h4>
<h4>トラブル知らずのシステム設計</h4>
<h4>たのしいRuby</h4>
<h4>入門Git</h4>
<h4>アルゴリズム図鑑</h4>
<h4>達人プログラマー</h4>
<h4>データベース実践入門</h4>

<p><%= @list.body %></p>