th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px 5px;
}

h1 {
  margin: 17px 0px;
}

h2 {
  margin: 16px 0px;
}

.field, .action {
  margin-bottom: 10px;
}

.link-tag {
  margin-left: 0;
}

#notice {
  color: green;
}
